<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ClassiDiBusiness.Properties.Settings.LavorazionePraticaConnection"
            connectionString="Data Source=localhost;Initial Catalog=LavorazionePratica;User ID=LavorazionePratica;Password=LavorazionePratica"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>